* {
  padding: 0%;
  margin: 0%;
}
header {
  background-color: #ee1c08;
  display: flex;
  font-family: Goldman;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}
a {
  text-decoration: none;
}
a:hover{
    background-color: #A22216;
}
.section__nav>a{
    color: #FFFFFF;
    margin: 0px 20px;
}
.logo {
  margin-left: 26px;
}
.header__section {
  display: flex;
  align-items: center;
}
.header__section--left {
  justify-content: flex-start;
}
.header__section--right {
  justify-content: flex-end;
  margin-left: 50%;
}
